<!DOCTYPE html>
<html>
<head>
  <title>Twitterclone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header class="header">twitterclone</header>
  <div align="center">
    <%= yield %>
  </div>
  <footer>
    <p>運営会社twitterclone株式会社</p>
    <p>© 2020-2021 Copyright twitterclone Corp.</p>
  </footer>
</body>
</html>
